@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes scan {
    0% {
      background-position: 0 -100vh;
    }
    35%,
    100% {
      background-position: 0 100vh;
    }
  }
  .animate-scan {
    animation: scan 7.5s linear infinite;
  }
}

.ql-bubble {
  max-width: fit-content;
}

.ql-bubble {
  @apply text-justify;
  @apply text-xl !important;
  @apply lg:text-2xl !important;
  margin-bottom: 1.4rem !important;
  white-space: normal !important; /* Force text wrapping */
  word-wrap: break-word !important; /* Ensure long words break */
  overflow-x: hidden !important; /* Prevent horizontal scrolling */
}